/* Dentro de Crear_proveedor.css */

.modal-card {
    background-color: white !important; /* Cambiamos el gris por blanco */
    padding: 30px;
    border-radius: 15px;
    color: #333;
}

input {
    background-color: #f1f5f9 !important; /* Fondo claro para los campos */
    color: #1e293b !important;            /* Texto oscuro */
    border: 1px solid #cbd5e1 !important;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

label {
    color: #475569 !important;
    font-weight: bold;
}

.btn-save {
    background: #667eea !important;
    color: white !important;
    border-radius: 8px;
    padding: 10px 20px;
}